/* if (!(styles conveniently stolen from sources named or WordPress)) { 
		styles created by Ronald Huereca;
 	 }
Edit below at your own risk of cataclysmic failure */
.edit-comment-admin-links, .edit-comment-user-link {
	display: none;
}
.edit-comment-admin-links a, .ajax-edit-time-left, .aec-dropdown-container a{
	display: block;
	font-size: 16px;
	padding: 4px 0px;
	padding-left: 30px;
	float: left;
	margin-right: 10px;
	font-weight: bold;
}
.affiliate_message {
	clear:left;
}
.affiliate_message a {
	display:inline;
	font:inherit;
	padding:0;
	float:none;
	margin:0;
}
.edit-comment-admin-links-no-icon a, .ajax-edit-time-left-no-icon{
	display: inline;
	float: none;
	font-size: 12px;
	padding: 2px 0px;
}
.ajax-edit-time-left {
	padding-left: 0;
}
.row-actions {
	clear: both;
}
.clearfix:after { /* from http://blue-anvil.com/archives/experiments-with-floats-whats-the-best-method-of-clearance*/
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
/* Begin dropdown */
.aec-dropdownarrow { 
	position: relative;
}
.aec-dropdown { display: none; padding-bottom:10px;}
.aec-dropdown-container {
	position: absolute;
	display: none;
	background-image:url(images/translucentbg.png);
	padding: 10px;
	border: 1px solid #CCCCCC;
}
.wp-admin .aec-dropdown-container {
	background: #EEE;
}
.aec-dropdown-container a {
	float: none;
}
/* end dropdown */
/* Begin Images */
.edit-comment-admin-links a.aec-dropdownlink {
	background:url(images/down.png) left center no-repeat;
}
.edit-comment-admin-links a.aec-dropdownlink-less {
	background:url(images/up.png) left center no-repeat;
}
.edit-comment-admin-links a.blacklist-comment, .aec-dropdown-container a.blacklist-comment{
	background:url(images/blacklist.png) left center no-repeat;
}
.edit-comment-admin-links a.edit-comment, .aec-dropdown-container a.edit-comment{
	background:url(images/comment_edit.png) left center no-repeat;
}
.edit-comment-admin-links a.move-comment, .aec-dropdown-container a.move-comment {
	background:url(images/application_next.png) left center no-repeat;
}
.edit-comment-admin-links a.moderate-comment, .aec-dropdown-container a.moderate-comment {
	background:url(images/warning.png) left center no-repeat;
}
.edit-comment-admin-links a.approve-comment,.aec-dropdown-container a.approve-comment {
	background:url(images/comment_add.png) left center no-repeat;
}
.edit-comment-admin-links a.delete-comment, .aec-dropdown-container a.delete-comment {
	background:url(images/comment_remove.png) left center no-repeat;
}
.edit-comment-admin-links a.spam-comment, .aec-dropdown-container a.spam-comment {
	background:url(images/user_remove.png) left center no-repeat;
}
.edit-comment-admin-links a.delink-comment,.aec-dropdown-container a.delink-comment {
	background:url(images/process_remove.png) left center no-repeat;
}
.edit-comment-admin-links a.request-deletion-comment,.aec-dropdown-container a.request-deletion-comment {
	background:url(images/comment_remove.png) left center no-repeat;
}
.edit-comment-admin-links a, .edit-comment-user-link a, .edit-comment-admin-links-no-icon a, .aec-dropdown-container a {
	text-decoration: none;
}
/* Errors */
li.ajax-delete, div.ajax-delete { background: #F33; } /* todo Doesn't work for .alt comments */
li.ajax-approve, div.ajax-approve { background: #04cd33; }
li.ajax-unapprove, div.ajax-unapprove { background: #F96; }
